

<div class="card card-box" style="height:350px;">
    <div class="card-head">
        <header>Patients Treated</header>
        <div class="tools">
            <a class="fa fa-repeat btn-color box-refresh" href="javascript:;"></a>
            <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
            <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
        </div>
    </div>
    <div class="card-body no-padding height-9">
        <div class="row">
            <canvas id="chartsjs_state"></canvas>
            @*<img alt="" class="" src=@Url.Content("/Content/Upload/user7.jpg") style="overflow:hidden" height="350px" />*@
        </div>
    </div>
</div>

<script>
    var listStatesArray = @Html.Raw(Json.Encode(ViewBag.STATES));
    var repartitionArray = @Html.Raw(Json.Encode(ViewBag.REPARTITIONS));
    var line = $("#chartsjs_state");
    var lineChart = new Chart(line, {

        type:'bar',
        data:{
            labels:listStatesArray,
            datasets:[{
                label:"Patient graph",
                data:repartitionArray,
                backgroundColor:["rgba(149,208,230,.7)","rgba(255,99,132,.7)","rgba(75,192,192,.7)","rgba(102,115,252,.7)"],
                borderColor:["rgb(149,208,230)","rgb(255,99,132)","rgb(75,192,192)","rgb(102,115,252)"],
                borderWidth:2,
            }],
        },

        options:{
            maintainAspectRatio:false,
            scales:{
                xAxes:[{ticks:{beginAtZero:true} }], 
                yAxes:[{ticks:{beginAtZero:true} }]},
            legend:{display:true}
        },


    });

</script>



