
<div class="state-overview">
    <div class="row">
        <div class="col-xl-4 col-md-6 col-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon push-bottom"><i class="material-icons">group</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Patients Treated</span>
                    <span class="info-box-number">450</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 75%"></div>
                    </div>
                    <span class="progress-description">
                        75% 
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="info-box bg-orange">
                <span class="info-box-icon push-bottom"><i class="material-icons">event_note</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Disponibilities Filled</span>
                    <span class="info-box-number">155</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 80%"></div>
                    </div>
                    <span class="progress-description">
                        80%
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-4 col-md-6 col-12">
            <div class="info-box bg-purple">
                <span class="info-box-icon push-bottom"><i class="material-icons">cancel</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Canceled Appointments</span>
                    <span class="info-box-number">52</span>
                    <div class="progress">
                        <div class="progress-bar" style="width: 85%"></div>
                    </div>
                    <span class="progress-description">
                        85%
                    </span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
</div>
