<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
       
            <title>Prevention a Medical Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
            <link href=@Url.Content("/Template/css/pignose.layerslider.css") rel="stylesheet" type="text/css" media="all" />
            <link href=@Url.Content("/Template/css/bootstrap-3.1.1.min.css") rel='stylesheet' type='text/css' />
            <link href=@Url.Content("/Template/css/style.css" ) rel="stylesheet" type="text/css" media="all" />
            <!-- for-mobile-apps -->
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Prevention Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
            <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
            <!-- //for-mobile-apps -->
            <!--fonts-->
            <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
            <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <!--//fonts-->
            <!-- js -->
            <script type="text/javascript" src=@Url.Content("/Template/js/jquery.min.js")></script>
            <!-- js -->
            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src=@Url.Content("/Template/js/bootstrap.min.js")></script>
            <script src=@Url.Content("/Template/js/modernizr.custom.js")></script>
            <link rel="stylesheet" href=@Url.Content("/Template/css/font-awesome.min.css") />
            <link rel="stylesheet" type="text/css" href=@Url.Content("/Template/css/custom.css") />
            <script type="text/javascript" src=@Url.Content("/Template/js/modernizr.custom.79639.js")></script>
            <!-- js for news -->
            <script src=@Url.Content("/Template/js/jquery.easing.min.js")></script>
            <script type="text/javascript" src=@Url.Content("/Template/js/pignose.layerslider.js")></script>
            <script type="text/javascript">
			//<![CDATA[
				$(window).load(function() {
					$('#visual').pignoseLayerSlider({
						play    : '.btn-play',
						pause   : '.btn-pause',
						next    : '.btn-next',
						prev    : '.btn-prev'
					});
				});
			//]]>
            </script>
            <!-- /js for news -->
            <!-- for smooth scrolling -->
            <script type="text/javascript" src=@Url.Content("/Template/js/move-top.js")></script>
            <script type="text/javascript" src=@Url.Content("/Template/js/easing.js")></script>
            <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
            </script>
            <!-- //for smooth scrolling -->
        <script type="text/javascript" src=@Url.Content("/Template/js/jquery.ba-cond.min.js")></script>
        <script type="text/javascript" src=@Url.Content("/Template/js/jquery.slitslider.js")></script>
        <script type="text/javascript">
        

			$(function() {

				var Page = (function() {

					var $nav = $( '#nav-dots > span' ),
						slitslider = $( '#slider' ).slitslider( {
							onBeforeChange : function( slide, pos ) {

								$nav.removeClass( 'nav-dot-current' );
								$nav.eq( pos ).addClass( 'nav-dot-current' );

							}
						} ),

						init = function() {

							initEvents();

						},
						initEvents = function() {

							$nav.each( function( i ) {

								$( this ).on( 'click', function( event ) {

									var $dot = $( this );

									if( !slitslider.isActive() ) {

										$nav.removeClass( 'nav-dot-current' );
										$dot.addClass( 'nav-dot-current' );

									}

									slitslider.jump( i + 1 );
									return false;

								} );

							} );

						};

						return { init : init };

				})();

				Page.init();

				/**
				 * Notes:
				 *
				 * example how to add items:
				 */

				/*

				var $items  = $('<div class="sl-slide sl-slide-color-2" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1"><div class="sl-slide-inner bg-1"><div class="sl-deco" data-icon="t"></div><h2>some text</h2><blockquote><p>bla bla</p><cite>Margi Clarke</cite></blockquote></div></div>');

				// call the plugin's add method
				ss.add($items);

				*/

			});
        </script>
        <script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
        </script>
        <script type="text/javascript" src=@Url.Content("/Template/js/numscroller-1.0.js")></script>
        <script type="text/javascript" src=@Url.Content("/Template/js/tabs.js")></script>

    </head>
    <body>
        @RenderBody()
       
    </body>
</html>
