<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<!-- Mirrored from radixtouch.in/templates/admin/redstar/source/light/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Nov 2018 08:55:23 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Epione Medical Portal | Doctor Dashboard</title>
    <!-- google font -->
    <link href=@Url.Content("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all") rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href=@Url.Content("/Template/assets/simple-line-icons/simple-line-icons.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Template/light/css/font-awesome.min.css") rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href=@Url.Content("https://fonts.googleapis.com/icon?family=Material+Icons")>
    <!--bootstrap -->

    <link href=@Url.Content("/Template/assets/bootstrap/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href=@Url.Content("/Template/assets/material/material.min.css")>
    <link rel="stylesheet" href=@Url.Content("/Template/light/css/material_style.css")>
    <!-- Theme Styles -->
    <link href=@Url.Content("/Template/light/css/theme_style.css") rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href=@Url.Content("/Template/light/css/plugins.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Template/light/css/style.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Template/light/css/responsive.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("/Template/light/css/theme-color.css") rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href=@Url.Content("/Template/light/img/favicon.ico") />
    <!-- start js include path -->
    <script src=@Url.Content("/Template/assets/jquery.min.js")></script>
    <script src=@Url.Content("/Template/assets/popper/popper.js")></script>
    <script src=@Url.Content("/Template/assets/jquery.blockui.min.js")></script>
    <script src=@Url.Content("/Template/assets/jquery.slimscroll.js")></script>
    <!-- bootstrap -->
    <script src=@Url.Content("/Template/assets/bootstrap/js/bootstrap.min.js")></script>
    <script src=@Url.Content("/Template/assets/bootstrap-switch/js/bootstrap-switch.min.js")></script>
    <!-- counterup -->
    <script src=@Url.Content("/Template/assets/counterup/jquery.waypoints.min.js")></script>
    <script src=@Url.Content("/Template/assets/counterup/jquery.counterup.min.js")></script>
    <!-- Common js-->
    <script src=@Url.Content("/Template/assets/app.js")></script>
    <script src=@Url.Content("/Template/assets/layout.js")></script>
    <script src=@Url.Content("/Template/assets/theme-color.js")></script>
    <!-- material -->
    <script src=@Url.Content("/Template/assets/material/material.min.js")></script>
    <!-- chart js -->
    <script src=@Url.Content("/Template/assets/chart-js/Chart.bundle.js")></script>
    <script src=@Url.Content("/Template/assets/chart-js/utils.js")></script>
    <script src=@Url.Content("/Template/assets/chart-js/home-data.js")></script>
    <!-- end js include path -->
</head>
<!-- END HEAD -->
<body class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
    @RenderBody()

</body>

<!-- Mirrored from radixtouch.in/templates/admin/redstar/source/light/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 11 Nov 2018 08:58:53 GMT -->
</html>