
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/EspaceMedecin/_LayoutForCalender.cshtml";
}

<h2>Disponibilities' Calendar</h2>
<div class="scheduler_container">
    @Html.Raw(Model.Render())
</div>
